@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
* {
  font-family: "Open Sans", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h4,
h5 {
  margin: 0;
}

p {
  margin: 20px 0;
}

h1 {
  font-size: 24px;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
  padding: 40px 0;
  width: 100%;
}

.selection {
  margin-bottom: 125px;
}

.u-dropdown {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1;
}

.u-dropdown .u-dropdownbtn {
  font-weight: normal;
  padding: 12px 16px;
  width: 400px;
  background: #fff;
  color: #000;
  border: 1px solid #d8dada;
  border-radius: 0;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.u-dropdown .u-dropdownbtn .caret {
  position: absolute;
  right: 20px;
  pointer-events: none;
}

.u-dropdown .u-dropdownbtn .caret:after {
  content: " ";
  vertical-align: middle;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 15 27' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23000' stroke-width='2' d='M1.607 1l10.606 10.607L1.607 22.213' fill='none'/%3E%3C/svg%3E") !important;
  background-repeat: no-repeat;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-size: contain;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.u-dropdown .u-dropdown-menu {
  display: none;
}

.u-dropdown.open .u-dropdownbtn .caret:after {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.u-dropdown.open .u-dropdown-menu {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.u-dropdown.open .u-dropdown-menu .u-dropdown-item {
  margin: 0;
  padding: 12px 16px;
  border-bottom: 1px solid #d8dada;
  border-left: 1px solid #d8dada;
  border-right: 1px solid #d8dada;
  background: #fff;
}

.u-dropdown.open .u-dropdown-menu .u-dropdown-item:hover .u-dropdown-link {
  font-weight: bold;
}

.u-dropdown.open .u-dropdown-menu .u-dropdown-link {
  color: #000;
  text-decoration: none;
}

.u-dropdown.open .u-dropdown-menu .u-dropdown-link:hover, .u-dropdown.open .u-dropdown-menu .u-dropdown-link:focus {
  font-weight: bold;
}

.u-dropdown.open .u-dropdown-menu .u-dropdown-link:active,
.u-dropdown.open .u-dropdown-menu .u-dropdown-link :visited {
  color: #000;
}

/* Accordion*/
.accordion {
  line-height: 1;
  padding: 40px 0;
}

.accordion .accordion-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.accordion .accordion-group {
  padding: 12px 0;
  border-top: 1px solid #000;
  line-height: 1;
}

.accordion .accordion-group .accordion-detail {
  display: none;
  opacity: 0;
  -webkit-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}

.accordion .accordion-group .accordion-detail.animate-visibility {
  opacity: 1;
}

.accordion .accordion-group.is-expanded .accordion-detail {
  display: block;
  padding: 0 10px;
}

.accordion .accordion-group.is-expanded .accordion-button:after {
  content: "+";
  position: relative;
  font-size: 20px;
  outline-offset: 10px;
}

.accordion .accordion-group .accordion-button {
  margin: 0;
  border: none;
  background-color: transparent;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.03s ease;
  transition: 0.03s ease;
  cursor: pointer;
}

.accordion .accordion-group .accordion-button.active {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.03s ease;
  transition: 0.03s ease;
}

.accordion .accordion-group .accordion-button:after {
  content: "-";
  position: relative;
  font-size: 20px;
  outline-offset: 10px;
}
/*# sourceMappingURL=app.css.map */