@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h4,
h5 {
  margin: 0;
}

p {
  margin: 20px 0;
}

h1 {
  font-size: 24px;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
  padding: 40px 0;
  width: 100%;
}

// .text-title--1 {
//   font-size: 32px;
//   font-weight: 500;
//   @media screen and (min-width: 768px) {
//     font-size: 44px;
//   }
// }

// .text-regular {
//   font-size: 16px;
//   font-weight: 300;
//   @media screen and (min-width: 768px) {
//     font-size: 20px;
//   }
// }
