.accordion {
  max-width: 100%;

  .accordion__group {
    border-top: 1px solid var(--dark);
    line-height: 1;
    padding: 12px 0;

    .accordion__heading {
      display: flex;
      justify-content: space-between;
    }

    .accordion__detail {
      display: none;
      opacity: 0;
      transition: opacity 0.1s ease;
      &.animate-visibility {
        opacity: 1;
      }
    }

    &.is-expanded {
      .accordion__detail {
        display: block;
      }

      .accordion__button {
        &:after {
          content: "+";
          font-size: 20px;
          outline-offset: 10px;
          position: relative;
        }
      }
    }

    .accordion__button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      margin: 0;
      transform: rotate(0deg);
      transition: 0.03s ease;

      &.active {
        transition: 0.03s ease;
        transform: rotate(45deg);
      }
      &:after {
        content: "-";
        font-size: 20px;
        outline-offset: 10px;
        position: relative;
      }
    }
  }
}
