.carousel {
  height: 477px;

  .swiper-wrapper {
    margin-left: -20px;
    @media screen and (min-width: 768px) {
      margin-left: -50px;
    }
  }

  .swiper-slide {
    &:nth-of-type(2n) {
      background: var(--offDark);
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    visibility: hidden;
    @media screen and (min-width: 768px) {
      left: initial;
      top: 50px;
      visibility: visible;
    }
  }

  .swiper-button-prev {
    right: 150px;
  }
  .swiper-button-next {
    right: 75px;
  }

  .carousel-pagination {
    @extend .swiper-pagination;
  }
}
