body {
  position: relative;
  &.no-scroll {
    overflow: hidden;
  }
}

.modal {
  a:focus,
  button:focus {
    outline: 1px dashed var(--dark);
    outline-offset: 2px;
  }
  align-items: center;
  background: var(--dark);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;

  @media screen and (min-width: 768px) {
    opacity: 0.95;
  }
  &.modal__state-hidden {
    display: none;
  }
  .modal__dialog {
    align-items: center;
    background: #fff;
    height: 100%;
    justify-content: center;
    overflow-y: auto;
    position: relative;
    width: 100%;
    @media screen and (min-width: 768px) {
      height: 50%;
      width: 60%;
    }
    .button__modal-close {
      position: absolute;
      right: 20px;
      top: 20px;
    }
    .modal__content {
      padding: 20px;
    }
  }
}

.button__modal-trigger {
  outline: 1px dashed var(--dark);
  outline-offset: 2px;
}
