.tab__group {
  .tab__nav {
    background: var(--offDark);
    box-shadow: 0 -1px 0 var(--offDark);
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .tab__item {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 15px 15px;
    margin: 0;

    a,
    a:visited,
    a:active {
      color: var(--dark);
      text-decoration: none;
      transition: color 0.2s ease;
    }
  }

  .tab__item:not(.active):hover {
    a {
      color: #ffffff;
    }
  }

  .tab__item.active {
    background: #ffffff;

    a {
      border-bottom: 1px solid var(--offDark);
      z-index: 10;
    }
  }

  .tab__contentWrapper {
    padding: 10px 15px;
  }

  .tab__content {
    display: none;

    .text-group {
      display: flex;
      flex-direction: column;

      @media screen and (min-width: 768px) {
        justify-content: space-between;

        p {
          margin: 0 10px;
        }
      }
    }
  }

  .tab__content.active {
    display: block;
  }
}
