.video__container {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  .video {
    width: 80%;
  }
  .video__icon {
    position: absolute;
    width: 100px;
  }
}
