.tooltip {
  display: inline-block;
  font-size: 16px;
  white-space: nowrap;
  position: relative;
}

.tooltip__button {
  background-color: transparent;
  border: 1px solid var(--dark);
  border-radius: 50%;
  cursor: pointer;
  height: 16px;
  line-height: 0.8;
  margin: 0;
  outline-offset: 2px;
  padding: 0;
  width: 16px;
  &:after {
    content: "i";
  }
}

.tooltip__container {
  opacity: 0;
  visibility: hidden;
  background: white;
  border: 1px solid var(--dark);
  padding: 24px;
  // min-width: 150px;
  // max-width: 300px;
  transition: 0.2s ease opacity;
  &.active {
    opacity: 1;
    visibility: visible;
  }

  .arrow,
  .arrow::before {
    position: absolute;
    width: 12px;
    height: 12px;
  }

  .arrow::before {
    content: "";
    transform: rotate(45deg);
    background: white;
    border-left: 1px solid #333;
    border-top: 1px solid #333;
  }
  .arrow::after {
    content: "";
    transform: rotate(45deg);
    background: #333;
    width: 9px;
    height: 9px;
  }
  &[data-popper-placement^="top"] > .arrow {
    bottom: -6px;
  }
  &[data-popper-placement^="bottom"] > .arrow {
    top: -6px;
  }

  // &[data-popper-placement^="top"] {
  //   .arrow {
  //     position: absolute;
  //     width: 22px;
  //     height: 11px;
  //     &::before {
  //       position: absolute;
  //       width: 8px;
  //       height: 8px;
  //       background: red;
  //       visibility: visible;
  //       content: "";
  //       transform: rotate(45deg);
  //       // bottom: 0;
  //       // content: "";
  //       // // width: 0;
  //       // // height: 0;
  //       // border-top: 11px solid var(--dark);
  //       // border-right: 11px solid transparent;
  //       // border-left: 11px solid transparent;
  //       // position: absolute;
  //       // top: -11px;
  //       // left: 50%;
  //       // transform: translateX(-50%);
  //     }
  //   }
  // }
  // &[data-popper-placement^="bottom"] {
  //   .arrow {
  //     position: relative;
  //     &::before {
  //       top: 0;
  //       content: "";
  //       width: 0;
  //       height: 0;
  //       border-bottom: 11px solid var(--dark);
  //       border-right: 11px solid transparent;
  //       border-left: 11px solid transparent;
  //       position: absolute;
  //       // top: -11px;
  //       // left: 50%;
  //       // transform: translateX(-50%);
  //     }
  //   }
  // }

  // &:after {
  //   content: "";
  //   width: 0;
  //   height: 0;
  //   border-bottom: 10px solid #fff;
  //   border-right: 10px solid transparent;
  //   border-left: 10px solid transparent;
  //   position: absolute;
  //   top: -10px;
  //   // left: 50%;
  //   // transform: translateX(-50%);
  // }
}
