.tooltip {
  display: inline-block;
  font-size: 16px;
  position: relative;
}

.tooltip__button {
  &[data-tip-icon] {
    background-color: transparent;
    border: 1px solid var(--dark);
    border-radius: 50%;
    cursor: pointer;
    height: 16px;
    line-height: 0.8;
    margin: 0;
    outline: none;
    padding: 0;
    width: 16px;
    &:after {
      content: "i";
    }
  }
  &[data-tip-text] {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--dark);
    cursor: pointer;
    font-size: 16px;
    line-height: 0.8;
    margin: 0;
    outline: none;
    padding: 0;
    padding-bottom: 5px;
  }
  &:focus {
    outline: 1px dashed var(--dark);
    outline-offset: 2px;
  }
}

.tooltip__container {
  background: var(--white);
  border: 1px solid var(--dark);
  display: none;
  height: 0;
  min-width: 100px;
  max-width: 290px;
  transition: 0.4s ease opacity;
  &.active {
    display: inline-block;
    height: auto;
  }

  .content {
    padding: 20px;
  }

  .arrow {
    position: relative;
    &:before {
      content: "";
      height: 0;
      position: absolute;
      width: 0;
    }
    &:after {
      content: "";
      height: 0;
      position: absolute;
      width: 0;
    }
  }

  &[data-popper-placement^="bottom"] {
    .arrow {
      left: -10px !important;
      top: 0;
      &:before {
        border-bottom: 11px solid var(--dark);
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        top: -11px;
      }
      &:after {
        border-bottom: 10px solid var(--white);
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        top: -10px;
      }
    }
  }

  &[data-popper-placement^="top"] {
    .arrow {
      bottom: 0px;
      left: -10px !important;
      &:before {
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-top: 11px solid var(--dark);
        bottom: -11px !important;
      }
      &:after {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid var(--white);
        bottom: -10px !important;
      }
    }
  }
}
