.accordion {
  width: 100%;
  line-height: 1;

  .accordion-heading {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .accordion-group {
    padding: 12px 0;
    border-top: 1px solid #000;
    line-height: 1;

    .accordion-detail {
      display: none;
      opacity: 0;
      transition: opacity 0.1s ease;
      &.animate-visibility {
        opacity: 1;
      }
    }

    &.is-expanded {
      .accordion-detail {
        display: block;
      }

      .accordion-button {
        &:after {
          content: "+";
          position: relative;
          font-size: 20px;
          outline-offset: 10px;
        }
      }
    }

    .accordion-button {
      margin-right: 10px;
      border: none;
      background-color: transparent;
      transform: rotate(0deg);
      transition: 0.03s ease;
      cursor: pointer;
      &.active {
        transform: rotate(45deg);
        transition: 0.03s ease;
      }
      &:after {
        content: "-";
        position: relative;
        font-size: 20px;
        outline-offset: 10px;
      }
    }
  }
}
