@import "swiper/swiper-bundle.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap");

:root {
  --dark: #262626;
  --offDark: #bfbfbf;
  --white: #ffffff;
}

* {
  font-family: "Open Sans", sans-serif;
}

html,
body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h4,
h5 {
  margin: 0;
  margin-bottom: 20px;
  color: var(--dark);
}

h1 {
  font-size: 24px;
}

p {
  font-size: 16px;
  color: var(--dark);
}

.demo__container {
  margin: 0 auto;
  max-width: 1400px;
  overflow: hidden;
  padding: 40px 0px;
  @media screen and (min-width: 768px) {
    padding: 40px 20px;
  }
}
