<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/app.css">
</head>

<body>
    <div>
        <h1>Countdown timer</h1>
        <p>Countdown time for timer is set via data-countDown Attribute. If left null, time is set to next day.</p>
    </div>
    <div class="container">
        <div class="countdown__container" data-countDown>
            <div class="countdown__days"></div>
            <div class="countdown__hours"></div>
            <div class="countdown__mins"></div>
            <div class="countdown__secs"></div>
        </div>
    </div>
    <div class="container">
        <div class="countdown__container" data-countDown="May 11 2021 00:00:00">
            <div class="countdown__days"></div>
            <div class="countdown__hours"></div>
            <div class="countdown__mins"></div>
            <div class="countdown__secs"></div>
        </div>
    </div>

    <script src="js/countdown.js"></script>
</body>

</html>